body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:93px;
  top:60px;
  width:440px;
  height:850px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:128px;
  top:184px;
  width:373px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:195px;
  width:73px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:142px;
  top:195px;
  width:28px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:480px;
  top:184px;
  width:10px;
  height:46px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:46px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:134px;
  top:237px;
  width:360px;
  height:473px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:473px;
}
#u11 {
  position:absolute;
  left:2px;
  top:230px;
  width:356px;
  word-wrap:break-word;
}
