body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1005px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:150px;
  width:1005px;
  height:600px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:600px;
}
#u2 {
  position:absolute;
  left:0px;
  top:90px;
  width:1004px;
  height:50px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u3_img.selected {
}
#u3.selected {
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u3_img.mouseDown {
}
#u3.mouseDown {
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:111px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u5_img.selected {
}
#u5.selected {
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_img.mouseDown {
}
#u5.mouseDown {
}
#u6 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:222px;
  top:0px;
  width:111px;
  height:45px;
  font-size:14px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u7_img.selected {
}
#u7.selected {
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u7_img.mouseDown {
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:333px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u9_img.selected {
}
#u9.selected {
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u9_img.mouseDown {
}
#u9.mouseDown {
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:444px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u11_img.selected {
}
#u11.selected {
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:555px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:666px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:777px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u17_img.mouseDown {
}
#u17.mouseDown {
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:888px;
  top:0px;
  width:111px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:45px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_img.mouseDown {
}
#u19.mouseDown {
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:965px;
  top:121px;
  width:35px;
  height:10px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:237px;
  top:36px;
  width:350px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:840px;
  top:38px;
  width:100px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#11AB04;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:810px;
  top:68px;
  width:160px;
  height:180px;
  overflow:hidden;
  visibility:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u30 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:41px;
  top:11px;
  width:74px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#949494;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:10px;
  top:32px;
  width:140px;
  height:140px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u34 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:90px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:90px;
}
#u36 {
  position:absolute;
  left:2px;
  top:37px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:780px;
  width:1000px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1000px;
  height:3px;
}
#u39 {
  position:absolute;
  left:294px;
  top:814px;
  width:319px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:14px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:458px;
  top:855px;
  width:32px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:620px;
  top:813px;
  width:128px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:14px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1005px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u0_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:600px;
}
#u1.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:135px;
}
#u2.a {
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:248px;
}
#u24.a {
}
#u26.a {
}
#u28.a {
  position:absolute;
  left:810px;
  top:68px;
  width:160px;
  height:180px;
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u28_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u35.a {
}
#u37.a {
  position:absolute;
  left:0px;
  top:780px;
  width:1000px;
  height:91px;
}
#u38.a {
}
#u38_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end.a {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:1000px;
  height:3px;
}
#u39.a {
}
#u41.a {
}
#u43.a {
}
