body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:49px;
  width:280px;
  height:220px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:220px;
}
#u1 {
  position:absolute;
  left:2px;
  top:102px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:57px;
  width:280px;
  height:210px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:210px;
}
#u3 {
  position:absolute;
  left:2px;
  top:97px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:239px;
  width:280px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:234px;
  width:260px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u7 {
  position:absolute;
  left:53px;
  top:248px;
  width:27px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:292px;
  top:243px;
  width:22px;
  height:22px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u10 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:53px;
  top:67px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:53px;
  top:88px;
  width:41px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:53px;
  top:107px;
  width:261px;
  height:125px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:24px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:125px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:360px;
  top:47px;
  width:280px;
  height:220px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:220px;
}
#u18 {
  position:absolute;
  left:2px;
  top:102px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:360px;
  top:55px;
  width:280px;
  height:210px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:210px;
}
#u20 {
  position:absolute;
  left:2px;
  top:97px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:360px;
  top:237px;
  width:280px;
  height:30px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:370px;
  top:232px;
  width:260px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u24 {
  position:absolute;
  left:373px;
  top:246px;
  width:27px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:612px;
  top:241px;
  width:22px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:373px;
  top:65px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:373px;
  top:86px;
  width:41px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:373px;
  top:105px;
  width:261px;
  height:125px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:22px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:125px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:40px;
  top:309px;
  width:280px;
  height:220px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:220px;
}
#u35 {
  position:absolute;
  left:2px;
  top:102px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:317px;
  width:280px;
  height:210px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:210px;
}
#u37 {
  position:absolute;
  left:2px;
  top:97px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:499px;
  width:280px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:494px;
  width:260px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u41 {
  position:absolute;
  left:53px;
  top:508px;
  width:27px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:292px;
  top:503px;
  width:22px;
  height:22px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:53px;
  top:327px;
  width:129px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:53px;
  top:348px;
  width:41px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:53px;
  top:367px;
  width:261px;
  height:125px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-style:normal;
  line-height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:125px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:360px;
  top:309px;
  width:280px;
  height:220px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:220px;
}
#u52 {
  position:absolute;
  left:2px;
  top:102px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:360px;
  top:317px;
  width:280px;
  height:210px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:210px;
}
#u54 {
  position:absolute;
  left:2px;
  top:97px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:360px;
  top:499px;
  width:280px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:370px;
  top:494px;
  width:260px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u58 {
  position:absolute;
  left:373px;
  top:508px;
  width:27px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:612px;
  top:503px;
  width:22px;
  height:22px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:373px;
  top:327px;
  width:113px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:373px;
  top:348px;
  width:41px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:373px;
  top:367px;
  width:261px;
  height:125px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:24px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:125px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
