body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:126px;
  width:8px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:202px;
  width:8px;
  height:27px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:265px;
  width:8px;
  height:27px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:27px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:269px;
  top:10px;
  width:60px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:16px;
  top:16px;
  width:372px;
  height:796px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:796px;
}
#u9 {
  position:absolute;
  left:2px;
  top:390px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:42px;
  top:130px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:167px;
  top:76px;
  width:70px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:195px;
  top:50px;
  width:14px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:166px;
  top:714px;
  width:72px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:42px;
  top:131px;
  width:320px;
  height:65px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:65px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:166px;
  width:31px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:42px;
  top:164px;
  width:320px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:52px;
  top:206px;
  width:300px;
  height:71px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:71px;
}
#u25 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:315px;
  top:230px;
  width:22px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:219px;
  width:70px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:254px;
  top:221px;
  width:44px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:12px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:254px;
  top:249px;
  width:62px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF3366;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:12px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:70px;
  top:247px;
  width:195px;
  height:14px;
  font-size:12px;
  color:#949494;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:52px;
  top:287px;
  width:300px;
  height:71px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:71px;
}
#u37 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:315px;
  top:311px;
  width:22px;
  height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:70px;
  top:300px;
  width:70px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:254px;
  top:302px;
  width:44px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:12px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:254px;
  top:330px;
  width:62px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF3366;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:12px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:70px;
  top:328px;
  width:195px;
  height:14px;
  font-size:12px;
  color:#949494;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:52px;
  top:368px;
  width:300px;
  height:71px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:71px;
}
#u49 {
  position:absolute;
  left:2px;
  top:28px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:315px;
  top:392px;
  width:22px;
  height:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u51 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:70px;
  top:381px;
  width:70px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:254px;
  top:383px;
  width:44px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:12px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:254px;
  top:411px;
  width:62px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FF3366;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:12px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:70px;
  top:409px;
  width:195px;
  height:14px;
  font-size:12px;
  color:#949494;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:14px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
