body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:93px;
  top:60px;
  width:440px;
  height:850px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:128px;
  top:184px;
  width:373px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:195px;
  width:91px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:142px;
  top:195px;
  width:28px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:480px;
  top:184px;
  width:10px;
  height:46px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:46px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:311px;
  top:250px;
  width:171px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:142px;
  top:250px;
  width:169px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:165px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:142px;
  top:290px;
  width:340px;
  height:450px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:450px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:10px;
  top:70px;
  width:320px;
  height:207px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:207px;
}
#u16 {
  position:absolute;
  left:2px;
  top:96px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:78px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:20px;
  top:107px;
  width:300px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u20 {
  position:absolute;
  left:30px;
  top:127px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:20px;
  top:156px;
  width:300px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u23 {
  position:absolute;
  left:30px;
  top:176px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:20px;
  top:205px;
  width:300px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u26 {
  position:absolute;
  left:30px;
  top:225px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:20px;
  top:254px;
  width:300px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u29 {
  position:absolute;
  left:10px;
  top:7px;
  width:320px;
  height:53px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
}
#u30 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:24px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:190px;
  top:22px;
  width:110px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33_input:disabled {
  color:grayText;
}
#u34 {
  position:absolute;
  left:160px;
  top:81px;
  width:92px;
  height:13px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:160px;
  top:127px;
  width:105px;
  height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:160px;
  top:179px;
  width:105px;
  height:13px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:160px;
  top:228px;
  width:40px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:10px;
  top:287px;
  width:320px;
  height:53px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:30px;
  top:304px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:160px;
  top:306px;
  width:40px;
  height:13px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:10px;
  top:370px;
  width:320px;
  height:40px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:10px;
  top:350px;
  width:251px;
  height:10px;
  font-size:10px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:10px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u14_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:450px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:10px;
  top:70px;
  width:320px;
  height:239px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:239px;
}
#u53 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:30px;
  top:78px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:20px;
  top:107px;
  width:300px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u57 {
  position:absolute;
  left:30px;
  top:127px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:20px;
  top:156px;
  width:300px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u60 {
  position:absolute;
  left:30px;
  top:176px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:20px;
  top:205px;
  width:300px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u63 {
  position:absolute;
  left:30px;
  top:263px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:20px;
  top:292px;
  width:300px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u66 {
  position:absolute;
  left:10px;
  top:7px;
  width:320px;
  height:53px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
}
#u67 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:30px;
  top:24px;
  width:49px;
  height:16px;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:160px;
  top:81px;
  width:118px;
  height:13px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:13px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:160px;
  top:127px;
  width:144px;
  height:13px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:160px;
  top:179px;
  width:144px;
  height:13px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:160px;
  top:266px;
  width:40px;
  height:13px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:10px;
  top:316px;
  width:320px;
  height:53px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
}
#u79 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:30px;
  top:333px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:160px;
  top:335px;
  width:40px;
  height:13px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:10px;
  top:400px;
  width:320px;
  height:40px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:10px;
  top:377px;
  width:251px;
  height:10px;
  font-size:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:10px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:30px;
  top:218px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:20px;
  top:247px;
  width:300px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u91 {
  position:absolute;
  left:160px;
  top:221px;
  width:144px;
  height:13px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:13px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:160px;
  top:26px;
  width:27px;
  height:13px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:480px;
  top:677px;
  width:160px;
  height:0px;
}
#u95_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:174px;
  height:20px;
}
#u96 {
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:660px;
  top:660px;
  width:300px;
  height:160px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u98 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:674px;
  top:691px;
  width:270px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u100 {
  position:absolute;
  left:680px;
  top:673px;
  width:66px;
  height:13px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:680px;
  top:711px;
  width:87px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:680px;
  top:731px;
  width:61px;
  height:15px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:680px;
  top:752px;
  width:62px;
  height:15px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:680px;
  top:773px;
  width:123px;
  height:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:390px;
  top:710px;
  width:250px;
  height:260px;
}
#u110_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:274px;
}
#u110_seg1 {
  position:absolute;
  left:-10px;
  top:250px;
  width:264px;
  height:20px;
}
#u111 {
  position:absolute;
  left:-50px;
  top:247px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:659px;
  top:917px;
  width:300px;
  height:160px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:160px;
}
#u113 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:673px;
  top:948px;
  width:270px;
  height:10px;
}
#u114_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u114_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u115 {
  position:absolute;
  left:679px;
  top:930px;
  width:66px;
  height:13px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:746px;
  top:673px;
  width:14px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u118 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:745px;
  top:930px;
  width:15px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u120 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:704px;
  top:984px;
  width:209px;
  height:13px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:13px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:680px;
  top:1040px;
  width:168px;
  height:21px;
  font-size:10px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:21px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
