body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:663px;
  top:60px;
  width:440px;
  height:850px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:698px;
  top:184px;
  width:373px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:760px;
  top:195px;
  width:91px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:712px;
  top:195px;
  width:28px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:712px;
  top:247px;
  width:348px;
  height:220px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:220px;
}
#u9 {
  position:absolute;
  left:2px;
  top:102px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:730px;
  top:268px;
  width:81px;
  height:16px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:730px;
  top:322px;
  width:240px;
  height:18px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:730px;
  top:378px;
  width:270px;
  height:18px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:820px;
  top:433px;
  width:120px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:720px;
  top:297px;
  width:330px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u19 {
  position:absolute;
  left:720px;
  top:352px;
  width:330px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u20 {
  position:absolute;
  left:720px;
  top:407px;
  width:330px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:313px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:330px;
  height:1px;
}
#u21 {
  position:absolute;
  left:740px;
  top:517px;
  width:300px;
  height:50px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1210px;
  top:60px;
  width:440px;
  height:850px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:850px;
}
#u24 {
  position:absolute;
  left:2px;
  top:417px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1245px;
  top:184px;
  width:373px;
  height:46px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
}
#u26 {
  position:absolute;
  left:2px;
  top:15px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1307px;
  top:195px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1259px;
  top:195px;
  width:28px;
  height:22px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1255px;
  top:244px;
  width:351px;
  height:93px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:93px;
}
#u32 {
  position:absolute;
  left:2px;
  top:38px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1816px;
  top:55px;
  width:33px;
  height:33px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1275px;
  top:264px;
  width:129px;
  height:18px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1275px;
  top:300px;
  width:264px;
  height:18px;
  font-size:16px;
  color:#949494;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1817px;
  top:169px;
  width:33px;
  height:33px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1817px;
  top:285px;
  width:33px;
  height:33px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1930px;
  top:60px;
  width:440px;
  height:850px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:850px;
}
#u44 {
  position:absolute;
  left:2px;
  top:417px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1965px;
  top:184px;
  width:373px;
  height:46px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
}
#u46 {
  position:absolute;
  left:2px;
  top:15px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:2027px;
  top:195px;
  width:93px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1979px;
  top:195px;
  width:28px;
  height:22px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1976px;
  top:240px;
  width:351px;
  height:80px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:80px;
}
#u52 {
  position:absolute;
  left:2px;
  top:32px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:2000px;
  top:274px;
  width:65px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:2275px;
  top:263px;
  width:43px;
  height:14px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:2240px;
  top:283px;
  width:80px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1976px;
  top:337px;
  width:351px;
  height:59px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:59px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1991px;
  top:358px;
  width:221px;
  height:18px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:1976px;
  top:409px;
  width:351px;
  height:59px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:59px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1992px;
  top:422px;
  width:29px;
  height:13px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1992px;
  top:445px;
  width:123px;
  height:15px;
  color:#949494;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:1976px;
  top:479px;
  width:351px;
  height:70px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:70px;
}
#u70 {
  position:absolute;
  left:2px;
  top:27px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:2024px;
  top:494px;
  width:208px;
  height:18px;
  font-size:16px;
  color:#363636;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:2024px;
  top:522px;
  width:184px;
  height:13px;
  color:#949494;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:13px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:1978px;
  top:500px;
  width:37px;
  height:37px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:2002px;
  top:580px;
  width:300px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u78 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:2284px;
  top:605px;
  width:140px;
  height:0px;
}
#u79_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:154px;
  height:20px;
}
#u80 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:2440px;
  top:549px;
  width:310px;
  height:112px;
  font-size:16px;
  color:#000000;
  line-height:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:112px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:50px;
  top:130px;
  width:370px;
  height:330px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:330px;
}
#u84 {
  position:absolute;
  left:2px;
  top:157px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:79px;
  top:147px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:78px;
  top:206px;
  width:320px;
  height:62px;
  font-size:16px;
  line-height:28px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:62px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:77px;
  top:175px;
  width:69px;
  height:18px;
  font-size:16px;
  color:#A1A1A1;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:379px;
  top:428px;
  width:25px;
  height:25px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u92 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:50px;
  top:414px;
  width:370px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u94 {
  position:absolute;
  left:80px;
  top:432px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:78px;
  top:277px;
  width:302px;
  height:112px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:112px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:220px;
  top:440px;
  width:1950px;
  height:420px;
}
#u98_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:594px;
}
#u98_seg1 {
  position:absolute;
  left:-10px;
  top:570px;
  width:1970px;
  height:20px;
}
#u98_seg2 {
  position:absolute;
  left:1940px;
  top:416px;
  width:20px;
  height:174px;
}
#u99 {
  position:absolute;
  left:715px;
  top:572px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1670px;
  top:350px;
  width:200px;
  height:62px;
  font-size:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1670px;
  top:322px;
  width:113px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:240px;
  top:482px;
  width:200px;
  height:76px;
  font-size:14px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:76px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1275px;
  top:610px;
  width:300px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u107 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1544px;
  top:264px;
  width:47px;
  height:21px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:1255px;
  top:347px;
  width:351px;
  height:93px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:93px;
}
#u111 {
  position:absolute;
  left:2px;
  top:38px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1275px;
  top:367px;
  width:129px;
  height:18px;
  font-size:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:1275px;
  top:403px;
  width:264px;
  height:18px;
  font-size:16px;
  color:#949494;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:18px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1544px;
  top:367px;
  width:47px;
  height:21px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1255px;
  top:450px;
  width:351px;
  height:93px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:93px;
}
#u119 {
  position:absolute;
  left:2px;
  top:38px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:1275px;
  top:470px;
  width:129px;
  height:18px;
  font-size:16px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:1275px;
  top:506px;
  width:264px;
  height:18px;
  font-size:16px;
  color:#949494;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:18px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1544px;
  top:470px;
  width:47px;
  height:21px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:21px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1255px;
  top:563px;
  width:351px;
  height:21px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:21px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
