body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:58px;
  width:300px;
  height:132px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
}
#u4 {
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:201px;
  width:300px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  line-height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:247px;
  width:300px;
  height:46px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:340px;
  width:300px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u10 {
  position:absolute;
  left:10px;
  top:387px;
  width:300px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u11 {
  position:absolute;
  left:10px;
  top:435px;
  width:300px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u12 {
  position:absolute;
  left:10px;
  top:483px;
  width:300px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u13 {
  position:absolute;
  left:10px;
  top:310px;
  width:114px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4D679F;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:10px;
  top:360px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  text-align:left;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:260px;
  top:360px;
  width:50px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  text-align:right;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:407px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  text-align:left;
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:260px;
  top:407px;
  width:50px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  text-align:right;
  line-height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:454px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  text-align:left;
  line-height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:260px;
  top:454px;
  width:50px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  text-align:right;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:10px;
  top:500px;
  width:200px;
  height:100px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u28 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:270px;
  top:500px;
  width:200px;
  height:100px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:568px;
  top:500px;
  width:200px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:465px;
  top:668px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:744px;
  top:668px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1023px;
  top:668px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:770px;
  width:200px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:-246px;
  top:454px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#4D679F;
  line-height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:312px;
  top:500px;
  width:200px;
  height:100px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:767px;
  top:668px;
  width:200px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:568px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:48px;
}
#u1.a {
  width:568px;
}
#u1_img.a {
  width:568px;
}
#u2.a {
  width:564px;
}
#u3.a {
}
#u5.a {
  top:205px;
  width:558px;
  height:20px;
}
#u5_img.a {
  width:558px;
  height:20px;
}
#u6.a {
  width:558px;
}
#u7.a {
  top:240px;
  width:558px;
  height:31px;
}
#u7_img.a {
  width:558px;
  height:31px;
}
#u8.a {
  width:558px;
}
#u9.a {
}
#u9_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end.a {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u10.a {
  left:335px;
  top:89px;
}
#u10_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end.a {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u11.a {
  left:335px;
  top:137px;
}
#u11_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end.a {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u12.a {
  left:335px;
  top:185px;
}
#u12_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end.a {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u13.a {
  top:281px;
}
#u13_img.a {
}
#u14.a {
}
#u15.a {
  left:321px;
  top:67px;
}
#u15_img.a {
}
#u16.a {
}
#u17.a {
  left:510px;
  top:68px;
}
#u17_img.a {
}
#u18.a {
}
#u19.a {
  left:321px;
  top:114px;
}
#u19_img.a {
}
#u20.a {
}
#u21.a {
  left:510px;
  top:115px;
}
#u21_img.a {
}
#u22.a {
}
#u23.a {
  left:321px;
  top:161px;
}
#u23_img.a {
}
#u24.a {
}
#u25.a {
  left:510px;
  top:162px;
}
#u25_img.a {
}
#u26.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u33_img.a {
}
#u34.a {
}
#u35.a {
}
#u35_img.a {
}
#u36.a {
}
#u37.a {
}
#u37_img.a {
}
#u38.a {
}
#u39.a {
}
#u41.a {
  left:65px;
  top:161px;
}
#u41_img.a {
}
#u42.a {
}
#u43.a {
}
#u45.a {
}
#u45_img.a {
}
#u46.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:48px;
}
#u1.b {
  width:768px;
}
#u1_img.b {
  width:768px;
}
#u2.b {
  width:764px;
}
#u3.b {
  width:748px;
  height:292px;
}
#u3_img.b {
  width:748px;
  height:292px;
}
#u4.b {
  top:138px;
  width:744px;
}
#u5.b {
  top:379px;
  width:558px;
  height:20px;
}
#u5_img.b {
  width:558px;
  height:20px;
}
#u6.b {
  width:558px;
}
#u7.b {
  top:414px;
  width:720px;
  height:15px;
}
#u7_img.b {
  width:720px;
  height:15px;
}
#u8.b {
  width:720px;
}
#u9.b {
}
#u9_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end.b {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u10.b {
  left:335px;
  top:89px;
}
#u10_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end.b {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u11.b {
  left:335px;
  top:137px;
}
#u11_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end.b {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u12.b {
  left:335px;
  top:185px;
}
#u12_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end.b {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u13.b {
  top:440px;
}
#u13_img.b {
}
#u14.b {
}
#u15.b {
  top:665px;
  height:38px;
}
#u15_img.b {
  height:38px;
}
#u16.b {
  top:9px;
}
#u17.b {
  left:310px;
  top:566px;
}
#u17_img.b {
}
#u18.b {
}
#u19.b {
  left:289px;
  top:665px;
  height:38px;
}
#u19_img.b {
  height:38px;
}
#u20.b {
  top:9px;
}
#u21.b {
  left:310px;
  top:613px;
}
#u21_img.b {
}
#u22.b {
}
#u23.b {
  left:568px;
  top:665px;
  height:38px;
}
#u23_img.b {
  height:38px;
}
#u24.b {
  top:9px;
}
#u25.b {
  left:310px;
  top:660px;
}
#u25_img.b {
}
#u26.b {
}
#u27.b {
  top:497px;
}
#u27_img.b {
}
#u28.b {
}
#u29.b {
  left:289px;
  top:497px;
}
#u29_img.b {
}
#u30.b {
}
#u31.b {
  left:558px;
  top:497px;
}
#u31_img.b {
}
#u32.b {
}
#u33.b {
  left:10px;
  top:613px;
}
#u33_img.b {
}
#u34.b {
}
#u35.b {
  left:289px;
  top:613px;
}
#u35_img.b {
}
#u36.b {
}
#u37.b {
  left:568px;
  top:613px;
}
#u37_img.b {
}
#u38.b {
}
#u39.b {
  left:10px;
  top:760px;
  width:748px;
  height:120px;
}
#u39_img.b {
  width:748px;
  height:120px;
}
#u40.b {
  top:48px;
  width:744px;
}
#u41.b {
  left:312px;
  top:665px;
  height:38px;
}
#u41_img.b {
  height:38px;
}
#u42.b {
  top:9px;
}
#u43.b {
  left:302px;
  top:497px;
}
#u43_img.b {
}
#u44.b {
}
#u45.b {
  left:312px;
  top:613px;
}
#u45_img.b {
}
#u46.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.c {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:48px;
}
#u1.c {
  width:1024px;
}
#u1_img.c {
  width:1024px;
}
#u2.c {
  width:1020px;
}
#u3.c {
  width:760px;
  height:292px;
}
#u3_img.c {
  width:760px;
  height:292px;
}
#u4.c {
  top:138px;
  width:756px;
}
#u5.c {
  left:780px;
  top:94px;
  width:234px;
  height:84px;
}
#u5_img.c {
  width:234px;
  height:84px;
}
#u6.c {
  width:234px;
}
#u7.c {
  left:780px;
  top:199px;
  width:234px;
  height:80px;
}
#u7_img.c {
  width:234px;
  height:80px;
}
#u8.c {
  width:234px;
}
#u9.c {
}
#u9_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end.c {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u10.c {
  left:335px;
  top:89px;
}
#u10_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end.c {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u11.c {
  left:335px;
  top:137px;
}
#u11_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end.c {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u12.c {
  left:335px;
  top:185px;
}
#u12_start.c {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end.c {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line.c {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u13.c {
  left:780px;
  top:302px;
}
#u13_img.c {
}
#u14.c {
}
#u15.c {
  top:562px;
  height:38px;
}
#u15_img.c {
  height:38px;
}
#u16.c {
  top:9px;
}
#u17.c {
  left:310px;
  top:566px;
}
#u17_img.c {
}
#u18.c {
}
#u19.c {
  left:278px;
  top:562px;
  height:38px;
}
#u19_img.c {
  height:38px;
}
#u20.c {
  top:9px;
}
#u21.c {
  left:310px;
  top:613px;
}
#u21_img.c {
}
#u22.c {
}
#u23.c {
  left:814px;
  top:562px;
  height:38px;
}
#u23_img.c {
  height:38px;
}
#u24.c {
  top:9px;
}
#u25.c {
  left:310px;
  top:660px;
}
#u25_img.c {
}
#u26.c {
}
#u27.c {
  top:394px;
}
#u27_img.c {
}
#u28.c {
}
#u29.c {
  left:278px;
  top:394px;
}
#u29_img.c {
}
#u30.c {
}
#u31.c {
  left:814px;
  top:394px;
}
#u31_img.c {
}
#u32.c {
}
#u33.c {
  left:10px;
  top:510px;
}
#u33_img.c {
}
#u34.c {
}
#u35.c {
  left:278px;
  top:510px;
}
#u35_img.c {
}
#u36.c {
}
#u37.c {
  left:814px;
  top:510px;
}
#u37_img.c {
}
#u38.c {
}
#u39.c {
  left:10px;
  top:645px;
  width:1004px;
}
#u39_img.c {
  width:1004px;
}
#u40.c {
  top:38px;
  width:1000px;
}
#u41.c {
  left:547px;
  top:562px;
  height:38px;
}
#u41_img.c {
  height:38px;
}
#u42.c {
  top:9px;
}
#u43.c {
  left:547px;
  top:394px;
}
#u43_img.c {
}
#u44.c {
}
#u45.c {
  left:547px;
  top:510px;
}
#u45_img.c {
}
#u46.c {
}
