body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:93px;
  top:60px;
  width:440px;
  height:850px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:128px;
  top:184px;
  width:373px;
  height:46px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:15px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:190px;
  top:195px;
  width:37px;
  height:19px;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:142px;
  top:195px;
  width:28px;
  height:22px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:480px;
  top:184px;
  width:10px;
  height:46px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:46px;
}
#u9 {
  position:absolute;
  left:2px;
  top:15px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:160px;
  top:325px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:430px;
  top:335px;
  width:28px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:163px;
  top:381px;
  width:306px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u15 {
  position:absolute;
  left:160px;
  top:401px;
  width:50px;
  height:50px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:430px;
  top:411px;
  width:28px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:163px;
  top:457px;
  width:306px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u20 {
  position:absolute;
  left:160px;
  top:477px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:487px;
  width:28px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:163px;
  top:533px;
  width:306px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u25 {
  position:absolute;
  left:160px;
  top:553px;
  width:50px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:430px;
  top:563px;
  width:28px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:163px;
  top:609px;
  width:306px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:289px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:306px;
  height:1px;
}
#u30 {
  position:absolute;
  left:224px;
  top:325px;
  width:40px;
  height:13px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:223px;
  top:343px;
  width:53px;
  height:13px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:379px;
  top:342px;
  width:41px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:223px;
  top:360px;
  width:53px;
  height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:221px;
  top:401px;
  width:40px;
  height:13px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:220px;
  top:419px;
  width:53px;
  height:13px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:376px;
  top:418px;
  width:41px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:220px;
  top:436px;
  width:53px;
  height:13px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:221px;
  top:477px;
  width:40px;
  height:13px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:220px;
  top:495px;
  width:53px;
  height:13px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:376px;
  top:494px;
  width:41px;
  height:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:220px;
  top:512px;
  width:53px;
  height:13px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:221px;
  top:553px;
  width:40px;
  height:13px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:220px;
  top:571px;
  width:53px;
  height:13px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:376px;
  top:570px;
  width:41px;
  height:15px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:220px;
  top:588px;
  width:53px;
  height:13px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:160px;
  top:629px;
  width:50px;
  height:50px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:430px;
  top:639px;
  width:28px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:221px;
  top:629px;
  width:40px;
  height:13px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:220px;
  top:647px;
  width:53px;
  height:13px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:376px;
  top:646px;
  width:41px;
  height:15px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:220px;
  top:664px;
  width:53px;
  height:13px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:160px;
  top:260px;
  width:114px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:534px;
  top:358px;
  width:150px;
  height:0px;
}
#u76_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:164px;
  height:20px;
}
#u77 {
  position:absolute;
  left:25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:700px;
  top:343px;
  width:200px;
  height:35px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
}
#u79 {
  position:absolute;
  left:2px;
  top:11px;
  width:196px;
  word-wrap:break-word;
}
