body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:96px;
  width:260px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:180px;
  top:111px;
  width:780px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u3 {
  position:absolute;
  left:230px;
  top:127px;
  width:300px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:180px;
  top:127px;
  width:52px;
  height:30px;
  font-size:14px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:8px;
  width:52px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:400px;
  top:723px;
  width:160px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:553px;
  top:719px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:570px;
  top:723px;
  width:160px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  word-wrap:break-word;
}
#u9_ann {
  position:absolute;
  left:723px;
  top:719px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:5px;
  top:95px;
  width:155px;
  height:365px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u14 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:45px;
  width:150px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u16 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:135px;
  width:150px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:180px;
  width:150px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:225px;
  width:150px;
  height:45px;
  font-size:14px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:270px;
  width:150px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:315px;
  width:150px;
  height:45px;
  font-size:14px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:85px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:85px;
}
#u31 {
  position:absolute;
  left:2px;
  top:34px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:30px;
  top:40px;
  width:370px;
  height:41px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#515151;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:41px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:81px;
  width:960px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:2px;
}
#u35 {
  position:absolute;
  left:779px;
  top:59px;
  width:121px;
  height:12px;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:12px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:910px;
  top:59px;
  width:50px;
  height:12px;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:600px;
  top:127px;
  width:280px;
  height:117px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:117px;
}
#u40 {
  position:absolute;
  left:2px;
  top:52px;
  width:276px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:180px;
  top:252px;
  width:780px;
  height:459px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:459px;
}
#u42 {
  position:absolute;
  left:2px;
  top:222px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:533px;
  top:1035px;
  width:257px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:25px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:180px;
  top:177px;
  width:37px;
  height:14px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:230px;
  top:170px;
  width:200px;
  height:30px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u47_input:disabled {
  color:grayText;
}
